.y-ring-spinner {
  transform-origin: center;
  animation: rotate 2s linear infinite;

  &__circle {
    fill: none;
    stroke: currentColor;
    animation: ring-spinner-dash 1.4s cubic-bezier(0.27, 0.03, 0.5, 1.22)
      infinite;
  }
}
@keyframes ring-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -104px;
  }
}
