@use '../../styles/util/mixin';

.y-date-calendar {
  padding: 0 8px;

  &__header {
    display: flex;
    padding: 0 12px 12px;
    font-weight: 500;
  }

  &__week {
    display: grid;
    grid-template-columns: repeat(7, min-content);
  }

  &__cell {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__weekday {
    font-size: 0.875rem;
    font-weight: 600;
  }

  &__day {
    position: relative;

    .y-button {
      width: 36px;
      height: 36px;
      --y-button__disabled-background: transparent;
    }

    &--adjacent {
      color: var(--y-theme-on-surface-variant);
      opacity: 0.5;
    }

    &:before {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      top: calc((40px - 36px) / 2);
      bottom: calc((40px - 36px) / 2);
    }

    &--range-interval:before {
      background: rgba(var(--y-theme-primary-rgb), 0.3);
    }

    &--range-start:before,
    &--range-end:before {
      background: rgba(var(--y-theme-primary-rgb), 0.3);
    }

    &--range-start:before, &--week-start:before {
      left: calc((40px - 36px) / 2);
    }

    &--range-end:before, &--week-end:before {
      right: calc((40px - 36px) / 2);
    }

    &--range-interval#{&}--week-start:before,
    &--range-start:before {
      @include mixin.borderRadius(50%, 'left');
    }

    &--range-interval#{&}--week-end:before,
    &--range-start#{&}--week-end:before,
    &--range-end:before {
      @include mixin.borderRadius(50%, 'right');
    }
  }
}
