/*!
 * Created by yeonyu 2022.
 */
@use '../../styles/palette';
@use '../../styles/variables';

.y-switch {
  $primary: palette.$basic-violet-400;
  font-size: 1rem;

  &__slot {
    display: flex;
    cursor: pointer;
    align-items: center;
    color: inherit;
    min-height: inherit;
    position: relative;
  }

  &__input {
    width: 3em;
    height: 1.5em;
    position: relative;
    display: inline-flex;
    user-select: none;
    color: inherit;
    flex: 0 0 auto;

    input[role='switch'] {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      user-select: none;
    }
  }
  &:not(&--loading) &__input:active &__thumb {
    width: 1em;
  }

  &__track {
    width: 100%;
    height: 100%;
    border-radius: 2em;
    background-color: #a0a0a0;
    position: absolute;
    left: 0;
    top: 0;
    transition: 300ms;
  }

  &__thumb {
    width: 1.1em;
    height: 1.1em;
    top: calc(50% - 0.56em);
    left: 0.2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    pointer-events: none;
    position: relative;
    transition: 180ms cubic-bezier(0.78, 0.04, 0.9, 0.18);
  }

  &__spinner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: rotate 2s linear infinite;
    contain: paint;

    @keyframes spinner-blur {
      0% {
        filter: blur(4px);
      }
      50% {
        filter: blur(1px);
      }
      100% {
        filter: blur(4px);
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      border-radius: 50%;
      border-width: 2px 2px 0 0;
      border-style: solid;
      border-color: $primary transparent;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, transparent 60%, rgba($primary, 0.4));
      filter: blur(4px);
      animation: spinner-blur 3s infinite;
    }
  }

  &:hover:not(&--disabled) {
    .y-switch__thumb {
      //background: map-get($light-theme, 'hover-bg');
    }
  }

  &--active {
    .y-switch__track {
      background-color: $primary;
    }

    .y-switch__thumb {
      left: 1.7em;
      //transform: translateX(1.6em);
    }
  }
  &--active:not(&--loading):active &__thumb {
    //left: 0.2em;
    left: 1.8em;
  }

  &--focused {
    .y-switch__thumb:before {
      content: '';
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      border-radius: 50%;
      background-color: rgba($primary, 0.4);
    }
  }

  &--stick-out {
    .y-switch__thumb {
      box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.32);
    }

    .y-switch__track {
      width: 90%;
      height: 80%;
      left: 5%;
      top: 12%;
      box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.4);
    }
  }

  &--disabled {
    opacity: 0.8;
    filter: brightness(0.88);

    .y-switch__thumb {
      opacity: 0.4;
    }
  }
  &--disabled &__slot,
  &--disabled &__input input {
    cursor: default;
  }

  &__state {
    position: relative;
    width: 100%;
    height: 100%;
    contain: content;
  }

  &__state-label {
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    transition: transform 180ms cubic-bezier(0.16, 0.85, 0.36, 0.96);

    &--on {
      left: -40px;
    }
    &--off {
      right: 10px;
    }
  }

  &--active &__state-label {
    transform: translateX(50px);
  }

  &--stick-out &__state-label--off {
    right: 7px;
  }
}
