$core-shadow-opacity: 0.3;
$ambient-shadow-opacity: 0.15;

$core-shadow-dimension: (
  0: (0px 0px 0px 0px),
  1: (0px 1px 2px 0px),
  2: (0px 1px 2px 0px),
  3: (0px 1px 3px 0px),
  4: (0px 2px 3px 0px),
  5: (0px 4px 4px 0px),
);

$ambient-shadow-dimension: (
  0: (0px 0px 0px 0px),
  1: (0px 1px 3px 1px),
  2: (0px 2px 6px 2px),
  3: (0px 4px 8px 3px),
  4: (0px 6px 10px 4px),
  5: (0px 8px 12px 6px),
)
