$box-side-direction: ('top', 'right', 'bottom', 'left');
$box-side-combinations: (
  'a': (),
  'v': (
    'top',
    'bottom',
  ),
  'h': (
    'right',
    'left',
  ),
  't': (
    'top',
  ),
  'r': (
    'right',
  ),
  'b': (
    'bottom',
  ),
  'l': (
    'left',
  ),
);

$space-types: (
  'm': 'margin',
  'p': 'padding',
);

$text-aligns: ('center', 'left', 'right');

$font-weights: (100, 200, 300, 400, 500, 600, 700, 800, 900);
