.y-tree-view {
}

.y-tree-view-node {
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 8px;
    min-height: 2rem;
    border-radius: 8px;
    transition:
      all 180ms ease-in,
      border-radius 300ms 100ms ease-in-out;

    &:hover {
      background: rgba(124, 124, 124, 0.14);
      border-radius: 4px;
    }
  }

  &__expand-icon,
  &__no-expand-icon {
    display: inline-flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  &__expand-icon svg {
    width: 10px;
    height: 10px;
  }

  &--expanded > &__container > &__expand-icon svg {
    transform: rotate(90deg);
  }

  &__indents {
    display: flex;
  }

  &__indent-spacer {
    width: 1rem;
  }

  &__select {
    display: inline-flex;
    align-items: center;
    margin-right: 4px;
    cursor: pointer;

    > * {
      width: 20px;
      height: 20px;
    }
  }

  &__content {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
  }

  &__leading {
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
  }

  &--active > &__container {
    color: var(--y-tree-view__active-color);

    > .y-plate {
      background: currentColor;
      opacity: 0.08;
      border-radius: unset;
    }
  }
}
