@use '../../styles/variables';

.y-field-input {
  --y-field-input-horizon-padding: 10px;

  .y-input {
    &__display {
      padding: 0 2px;
      flex: 0 0 auto;
    }

    &__plate {
      pointer-events: none;
    }

    &__floating-label {
      padding-left: var(--y-field-input-horizon-padding, 10px);

      &--floated {
        padding-left: unset;
      }
    }
  }

  &__field {
    position: relative;
    flex: 1 1 auto;
    min-height: 36px;
    min-width: 0.000000001px;
    padding: 1px 0;
    border-radius: inherit;

    > input {
      position: relative;
      outline: none;
      padding: 8px var(--y-field-input-horizon-padding, 10px);
      width: 100%;
      height: 100%;
      line-height: 1.2;
      font-size: 0.875rem;
      color: inherit;
      border-radius: inherit;
    }
  }

  .y-input__prepend + &__field {
    > input {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  .y-input__append:last-child {
    &.y-input__append--clear {
      margin-right: 8px;
    }
  }

  &__clear {
    width: 16px;
    height: 16px;
    padding: 0;
    cursor: pointer;
    color: var(--y-theme-on-surface);
  }
}
