.y-select {
  &__icon {
    transition: 200ms ease;
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }

  &--opened &__icon {
    transform: rotate3d(1, 0, 0, 180deg);
  }

  &__content {
    > .y-card {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  &__selection {
    height: 100%;
    width: 100%;
    padding: 8px 10px;
    contain: content;
  }

  .y-input__display {
    cursor: pointer;
  }

  .y-field-input__field {
    > input {
      position: absolute;
      inset: 0;
      opacity: 0;
      cursor: pointer;
    }
  }

  &:not(&--selected) &__selection {
    color: rgba(var(--y-theme-on-background-rgb), 0.6);
  }
}
