@use '../palette';

.y-dialog {
  perspective: 1700px;
  perspective-origin: calc(50% + 10vh) 50%;

  .y-card {
    box-shadow: 0 0 8px -2px rgb(0 0 0 / 14%), 2px 2px 1px 0 rgb(0 0 0 / 1%),
      0 0 12px 0 rgb(0 0 0 / 2%);
  }

  .slide-fade-enter-active,
  .slide-fade-leave-active {
    .y-card {
      transition: all 240ms cubic-bezier(0.23, 0.3, 0.07, 0.97);
      backface-visibility: hidden;
    }
  }

  .slide-fade-enter-from,
  .slide-fade-leave-to {
    .y-card {
      box-shadow: 0 -20px 24px -8px rgb(0 0 0 / 14%),
        0 -12px 4px 2px rgb(0 0 0 / 2%), 0 0 4px 0 rgb(0 0 0 / 20%);
    }
  }

  .y-card__header {
    > .title {
      color: palette.$basic-gray-800;
    }
  }

  .y-card__footer {
    background-color: rgba(var(--y-theme-outline-rgb), 0.14);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 12px 21px;
  }
}
