@use '../palette';

.y-field-input {
  .y-field-input__field > input {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .y-input__helper-text {
    padding-left: 8px;
    color: var(--zk-color--desc);
  }
}
