
@use 'sass:map';
@use './util/var';
@use './settings/elevation' as *;

@mixin styles() {
  @each $level, $core-dimension in $core-shadow-dimension {
    $ambient-dimension: map.get($ambient-shadow-dimension, $level);
    $var: --y-elevation--level#{$level};
    #{$var}: #{$core-dimension} rgba(var(--y-elevation-color), #{$core-shadow-opacity}), #{$ambient-dimension} rgba(var(--y-elevation-color), #{$ambient-shadow-opacity});
    .elevation-#{$level} {
      box-shadow: var(#{$var});
    }
  }
}
