$table-cell-padding: 0 16px !default;
$table-head-background: var(--y-theme-surface-variant, #dfe3eb) !default;
$table-cell-border-bottom-color: rgba(var(--y-theme-outline-rgb), var(--y-theme-outline-opacity)) !default;

.y-table {
  --y-table-border-bottom-color: #{$table-cell-border-bottom-color};

  display: flex;
  flex-direction: column;

  &--fixed-height &__container > &__wrapper {
    overflow-y: auto;
  }

  &--flex-height {
    //flex-grow: 1;
    min-height: 0;
  }

  &--flex-height > &__container {
    flex: 1 1;
    min-height: 0;
  }

  &__wrapper > table {
    width: 100%;
    border-spacing: 0;
  }

  &--fixed-head &__container > &__wrapper > table > thead > tr > th {
    position: sticky;
    top: 0;
  }

  &--fixed-head.y-table &__container &__wrapper > table > thead > tr > th {
    z-index: 1;
    background: $table-head-background;
  }

  .y-table__wrapper {
    > table {
      font-size: 0.875rem;

      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th, > td {
            padding: $table-cell-padding;
          }
        }
      }

      > thead > tr {
        > th {
          height: 56px;
          text-align: left;
          border-bottom: thin solid var(--y-table-border-bottom-color);
          user-select: none;
        }
      }

      > tbody > tr {
        &:not(:last-child) {
          > td {
            border-bottom: thin solid var(--y-table-border-bottom-color);
          }
        }
        > td {
          height: 54px;
        }
      }
    }
  }
}

.y-data-table-cell {
  &--align-end {
    text-align: end;

    .y-data-table-header__content {
      justify-content: flex-end;
    }
  }
}

.y-data-table-header {
  &__content {
    display: flex;
    align-items: center;
  }

  &__sorting-icon {
    display: inline-flex;
    width: 1em;
    height: 1em;
    margin-left: 4px;
    cursor: pointer;

    svg {
      width: 1em;
      height: 1em;
    }

    &--disabled {
      opacity: 0.08;
      cursor: default;
    }
  }
}

.y-data-table-header--select, .y-data-table-data--select {
  > .y-icon-checkbox {
    &:not(&--disabled) {
      cursor: pointer;
    }
  }
}

.y-data-table-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  overflow-y: clip;
  overflow-x: visible;
  z-index: 50;
  margin-right: calc(100% - var(--y-table-wrapper-width, 100%));

  &__head {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: var(--y-table-head-height, 48px);
  }

  &__body {
    position: absolute;
    top: var(--y-table-head-height, 48px);
    right: 0;
    left: 0;
    bottom: 0;
  }
}
