@use '../../styles/variables';
@use '../../styles/palette';

$button-border-radius: variables.$border-radius-root !default;
$button-before-opacity: 0.06 !default;
$button-disabled-background: #b3b3b3 !default;

.y-btn {
  --y-btn__color: var(--y-palette--primary);

  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: $button-border-radius;
  font-weight: 500;
  transition: all 240ms cubic-bezier(0.42, 0.5, 0.51, 1.02);

  &__content {
    display: flex;
    align-items: center;
    padding: 4px 8px;
  }

  &:not(&--disabled):not(&--outlined):not(&--loading):not(&--filled):not(
      &--text
    ) {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.14);
    &:active {
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.24);
    }
  }

  &--filled {
    background-color: var(--y-btn__color);
    color: #ffffff;
  }

  &:not(&--outlined):disabled,
  &--disabled:not(&--outlined) {
    background-color: $button-disabled-background;
    opacity: 0.4;
    cursor: default;
  }

  &:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: '';
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  }

  &:hover:before {
    opacity: 0.06;
  }

  &--rounded {
    border-radius: 10vh;
  }

  &--outlined {
    color: var(--y-btn__color);
    border: 1px solid var(--y-btn__color);
  }

  &--loading {
    cursor: wait;
    .y-ring-spinner {
      margin-right: 0.4em;
    }
  }

  &:active:not(&--loading) {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14);
  }

  &--small {
    height: 24px;
    font-size: 0.4rem;
  }

  &--small & {
    &__content {
      padding: 4px 6px;
    }
  }
}
