@use '../../styles/variables';

$chip-border-radius: variables.$border-radius-root;

.y-chip {
  display: inline-flex;
  position: relative;
  padding: 4px 16px;
  background: rgba(0, 0, 0, 0.14);
  border-radius: $chip-border-radius;
  align-items: center;
  align-self: center;

  &--clickable {
    cursor: pointer;
  }

  &__content {
    color: inherit;
  }

  &--clickable &__content {
    user-select: none;
  }

  &--small {
    font-size: 0.75rem;
    padding: 3px 8px;
    border-radius: $chip-border-radius * 0.75;
  }
}
