@use '../../styles/settings/variables';

.y-progress {
  --y-progress-bar__height: 4px;
  --y-progress-bar__color: var(--y-theme-primary);
  --y-progress-bar__track-color: rgba(var(--y-theme-surface-variant), 0.74);

  display: flex;
  position: relative;
  height: var(--y-progress-bar__height, 4px);
  color: var(--y-progress-bar__color);

  &-bar--rounded {
    border-radius: calc(var(--y-progress-bar__height) / 2);
  }

  &--outlined {
    --y-progress-bar__outline-color: var(--y-theme-primary);
    border: 1px solid var(--y-progress-bar__outline-color);
  }

  &-bar--reverse & {
    &__track {
      transform-origin: 0 100%;
      transform: translateX(100%) scale3d(-1, 1, 1);
    }

    &__lead {
      right: 0;
      position: absolute;
    }
  }

  &__tube {
    border-radius: inherit;
    overflow: clip;
    min-width: 0;
    flex: 1 1;
    position: relative;
  }

  &__track {
    background-color: var(--y-progress-bar__track-color);
    position: absolute;
    inset: 0;
    border-radius: inherit;
    overflow: clip;
    color: inherit;
  }

  &__lead {
    height: 100%;
    background-color: var(--y-progress-bar__color);
    position: relative;
    transform-origin: left;
    transition: all 250ms cubic-bezier(0.42, 0.5, 0.51, 1.02);
  }

  &--indeterminate &__track {
    &:before {
      animation: y-progress-bar--indeterminate 2.1s
      cubic-bezier(.5,.65,.62,.25) infinite;

      @keyframes y-progress-bar--indeterminate {
        0% {
          transform: translate3d(-35%, 0, 0) scale3d(0.35, 1, 1);
        }

        60% {
          transform: translate3d(100%, 0, 0) scale3d(0.9, 1, 1);
        }

        to {
          transform: translate3d(100%, 0, 0) scale3d(0.9, 1, 1);
        }
      }
    }

    &:after {
      animation: y-progress-bar--indeterminate-trail 2.1s variables.$basic-transition-timing-function infinite;
      animation-delay: 1.15s;
      transform: translate3d(-101%,0,0) scaleZ(1);

      @keyframes y-progress-bar--indeterminate-trail {
        0% {
          transform: translate3d(-101%, 0, 0) scaleZ(1);
        }

        60% {
          transform: translate3d(107%, 0, 0) scale3d(0.01, 1, 1);
        }

        to {
          transform: translate3d(107%, 0, 0) scale3d(0.01, 1, 1);
        }
      }
    }

    &:before, &:after {
      content: '';
      position: absolute;
      background: currentColor;
      transform-origin: 0 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &--indeterminate &__lead {
    visibility: hidden;
  }
}
