@use '../../styles/variables';

.y-tab {
  --y-tab-color: var(--y-theme-on-surface);
  --y-tab-active-color: var(--y-theme-primary);

  --y-tab-indicator-width: 2.7px;
  --y-tab-indicator-color: inherit;
  --y-tab-active-indicator-color: var(--y-theme-primary);
  --y-tab-hover-indicator-color: var(--y-theme-outline-variant);
  --y-tab-indicator-side-offset: 4px;

  border-radius: 0;
  color: var(--y-tab-color);

  &.y-button {
    font-size: 1rem;
    padding: 4px 8px 12px;
    box-shadow: none;

    &:before {
      left: var(--y-tab-indicator-side-offset);
      right: var(--y-tab-indicator-side-offset);
      background: radial-gradient(currentColor, transparent 80%),
        linear-gradient(0deg, currentColor, transparent 70%);
    }
  }

  &__indicator {
    height: var(--y-tab-indicator-width);
    position: absolute;
    left: var(--y-tab-indicator-side-offset);
    right: var(--y-tab-indicator-side-offset);
    bottom: 0;
    background-color: currentColor;
    border-top-left-radius: 4444px;
    border-top-right-radius: 4444px;
    transform: scaleY(0);
    transform-origin: bottom center;
    transition-timing-function: variables.$basic-transition-timing-function;
    transition-duration: 200ms;
    transition-property: all;
    will-change: transform;
  }

  .y-button {
    &__content {
      padding: 0;
    }
  }

  &--active, .y-button--active {
    font-weight: 700;
    color: var(--y-tab-active-color);

    &:before {
      opacity: 0.04;
    }
  }

  &:hover:not(&--active) &__indicator, &:hover:not(.y-button--active) &__indicator {
    transform: scaleY(1);
    color: var(--y-tab-hover-indicator-color);
  }

  &--active &__indicator, .y-button--active &__indicator {
    color: var(--y-tab-active-indicator-color);
    transform: scaleY(1);
  }
}
