.y-icon-checkbox {
  --y-icon-checkbox__color: var(--y-theme--primary);
  --y-icon-checkbox__border-color: 180, 180, 180;
  position: relative;

  &__checkmark-path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2px;
    stroke-dashoffset: 29.7833385;
    stroke-dasharray: 29.7833385;
    transition: stroke-dashoffset 120ms cubic-bezier(0.4, 0, 0.6, 1);
  }

  &__border-path {
    fill: rgba(var(--y-icon-checkbox__color), 0);
    stroke: rgba(var(--y-icon-checkbox__border-color), 0.8);
    stroke-width: 2;
    transition: fill 200ms 180ms ease-in;
  }

  &--checked & {
    &__checkmark-path {
      stroke-dashoffset: 0;
      transition: stroke-dashoffset 120ms 140ms cubic-bezier(0.4, 0, 0.6, 1);
    }

    &__border-path {
      fill: rgb(var(--y-icon-checkbox__color));
      stroke: rgba(var(--y-icon-checkbox__color), 0.8);
      transition: fill 200ms ease-in;
    }
  }
}
