.y-pagination {

  &__list {
    display: flex;
    gap: var(--y-pagination__gap);
  }

  li {
    list-style: none;

    .y-button {
      min-width: 2.2em;
      min-height: 0;
      padding: 4px;

      &__content {
        padding: 2px;
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    .y-button.y-button--disabled {
      background: rgba(0, 0, 0, 0.02);
    }
  }

  &__item {
    &--active {
      .y-button:before {
        opacity: 0.1;
      }
    }
  }

  &__first, &__last, &__prev, &__next {

  }
}
